<div id="main"  >

    <div class="row">



            <div class="col-6  wrapper">
                        <a href="/admin/addEditCoupenManagement">
                        <div class="card" style="align-items: center; margin-top: 200px;height: 100px;">
                            
                             <div style="margin-top: 35px;">Manage Coupon</div>

                        <span class="plan-details">
                                                                        


                        </span>
                        </div>
                        </a>
            </div>


            <div class="col-6 wrapper">
                        <a href="/admin/addEditOfferManagement">
                        <div class="card" style=" margin-top: 200px; height: 100px;text-align: center;" >
                            
                            <div style="margin-top: 35px;">Manage Offers</div>

                       
                        </div>
                        </a>
        </div>

    </div>


</div>