 <div  id="main" style="overflow-x: hidden;"> 

 



<a href="/admin/testing">               
 <div class="main" style="width: 100%;">

  <span class="corner corner-tl"></span>
  <!-- .corner-extension to display border extention effects -->
  <span class="corner-extention corner-tl"></span>
  <span class="corner corner-tr"></span>
  <span class="corner-extention corner-tr"></span>
  <span class="corner corner-bl"></span>
  <span class="corner-extention corner-bl"></span>
  <span class="corner corner-br"></span>
  <span class="corner-extention corner-br"></span>
  <!-- any content should be inside .text container -->
  <div class="content" >View All Orders</div>
</div>
<br>
<br>
</a>



<a href="/admin/vieworders">               
 <div class="main" style="width: 100%;">
  <!-- -tl = top-left; -tr = top-right; -bl = bottom-left; -br = bottom-right
  <!-- .corner to display border-corner -->
  <span class="corner corner-tl"></span>
  <!-- .corner-extension to display border extention effects -->
  <span class="corner-extention corner-tl"></span>
  <span class="corner corner-tr"></span>
  <span class="corner-extention corner-tr"></span>
  <span class="corner corner-bl"></span>
  <span class="corner-extention corner-bl"></span>
  <span class="corner corner-br"></span>
  <span class="corner-extention corner-br"></span>
  <!-- any content should be inside .text container -->
  <div class="content" >Orders</div>
</div>
<br>
<br>
</a>





<a href="/admin/grouporders">               
 <div class="main" style="width: 100%;">
  <!-- -tl = top-left; -tr = top-right; -bl = bottom-left; -br = bottom-right
  <!-- .corner to display border-corner -->
  <span class="corner corner-tl"></span>
  <!-- .corner-extension to display border extention effects -->
  <span class="corner-extention corner-tl"></span>
  <span class="corner corner-tr"></span>
  <span class="corner-extention corner-tr"></span>
  <span class="corner corner-bl"></span>
  <span class="corner-extention corner-bl"></span>
  <span class="corner corner-br"></span>
  <span class="corner-extention corner-br"></span>
  <!-- any content should be inside .text container -->
  <div class="content" >Orders Groped based on User</div>
</div>
<br><br>
</a> 













</div>  