

                     <div class="container">

                       <form id="form">
		                	<div class="row">
		                		<div class="col-lg-9">
		                			<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
		                				<div class="row">
		                					<div class="col-sm-12">
		                						<label>First Name *</label>
		                						<input type="text" class="form-control" name="name" required >
												<input type="text" class="form-control" name="userId" value="{{user._id}}" hidden >
												<input type="text" class="form-control" name="ShippingStatus" value="OrderPlaced" hidden >
		                					</div><!-- End .col-sm-6 -->


		                				</div><!-- End .row -->

	            						<label>House Name</label>
	            						<input type="text" class="form-control" name="housename" required>



	            						<label>Street address *</label>
	            						<input type="text" class="form-control" placeholder="House number and Street name" name="streetName" required>
	            						<input type="text" class="form-control" placeholder="LandMark" name="landMark" required>

	            						<div class="row">
		                					<div class="col-sm-6">
		                						<label>Town / City *</label>
		                						<input type="text" class="form-control" name="City" required>
		                					</div><!-- End .col-sm-6 -->

		                					<div class="col-sm-6">
		                						<label>State  *</label>
		                						<input type="text" class="form-control" name="state" required>
		                					</div><!-- End .col-sm-6 -->
		                				</div><!-- End .row -->

		                				<div class="row">
		                					<div class="col-sm-6">
		                						<label>PIN CODE</label>
		                						<input type="number" class="form-control" name="PinCode" required >
		                					</div><!-- End .col-sm-6 -->

		                					<div class="col-sm-6">
		                						<label>Phone *</label>
		                						<input type="tel" class="form-control" name="Phone" required>
		                					</div><!-- End .col-sm-6 -->
		                				</div><!-- End .row -->

	                					<label>Email address *</label>
	        							<input type="email" class="form-control" name="email" required>

	        							<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="checkout-create-acc">
											<label class="custom-control-label" for="checkout-create-acc">Create an account?</label>
										</div><!-- End .custom-checkbox -->

										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="checkout-diff-address">
											<label class="custom-control-label" for="checkout-diff-address">Ship to a different address?</label>
										</div><!-- End .custom-checkbox -->

	                					<label>Order notes (optional)</label>
	        							<textarea class="form-control" cols="30" rows="4" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
		                		</div><!-- End .col-lg-9 -->

		                	</div><!-- End .row -->
            			</form>

                        </div> 