


    <div class="page-wrapper">


        <main class="main">



            <div class="page-content">
                <div class="container">


        			<article class="entry entry-list">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <figure class="entry-media">
                                    <a href="single.html">
                                        <img src="assets/images/blog/listing/post-1.jpg" alt="image desc">
                                    </a>
                                </figure><!-- End .entry-media -->
                            </div><!-- End .col-md-4 -->

                            <div class="col-md-8">
                                <div class="entry-body">
                                    <div class="entry-meta">
                                        <span class="entry-author">
                                            by <a href="#">John Doe</a>
                                        </span>
                                        <span class="meta-separator">|</span>
                                        <a href="#">Nov 22, 2018</a>
                                        <span class="meta-separator">|</span>
                                        <a href="#">2 Comments</a>
                                    </div><!-- End .entry-meta -->

                                    <h2 class="entry-title">
                                        <a href="single.html">Cras ornare tristique elit.</a>
                                    </h2><!-- End .entry-title -->

                                    <div class="entry-cats">
                                        in <a href="#">Lifestyle</a>,
                                        <a href="#">Shopping</a>
                                    </div><!-- End .entry-cats -->

                                    <div class="entry-content">
                                        <p>Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Suspendisse potenti. Sed egestas ... </p>
                                        <a href="single.html" class="read-more">Continue Reading</a>
                                    </div><!-- End .entry-content -->
                                </div><!-- End .entry-body -->
                            </div><!-- End .col-md-8 -->
                        </div><!-- End .row -->
                    </article><!-- End .entry -->





                </div><!-- End .container -->
            </div><!-- End .page-content -->

            <!-- Elements list -->

        </main><!-- End .main -->
    </div>

